@import 'react-slideshow-image/dist/styles.css';

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bg-color-rgb: 225, 225, 225;
  --primary-rgb: 0, 177, 234;
}

body {
  margin: 0;
}

* {
  font-family: 'Roboto', sans-serif;
}
