.operation-item {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 12px 0px 12px 16px;
  color: #333;
  border-bottom: 0.0625em solid #eee;
  transition: 0.3s;

  > .operation-item__concept {
    font-size: 1rem;
    max-width: 315px;
    width: 100%;
    flex-shrink: 1;
  }

  > .operation-item__amount {
    display: flex;
    flex-direction: column;
    width: 100px;
    flex-shrink: 0;

    > span:first-child {
      text-align: right;
    }
    > span:last-child {
      font-size: 14px;
      color: #999;
      text-align: right;
    }
  }

  > .operation-item__actions {
    display: flex;
    justify-content: center;

    > button {
      padding: 0;
      border: 0;
      background-color: transparent;
      width: 2em;
      height: 2em;
      border-radius: 500px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      outline: none;
      > i {
        color: #999;
      }

      &:hover {
        background-color: #ccc;
      }
    }

    > .operation-item__tooltip-wrapper {
      > .operation-item__tooltip {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 0.25em;
        box-shadow: 0 0.07em 0.125em 0 rgba(0, 0, 0, 0.15);

        > button {
          padding: 0 14px;
          height: 30px;
          background-color: transparent;
          border: none;
          transition: 0.3s;
          color: #009ee3;
          font-size: 14px;
          font-weight: 500;
          cursor: pointer;
          outline: none;
          &:hover {
            background-color: #f7f7f7;
          }

          &:first-child {
            border-radius: 0.25em 0.25em 0 0;
          }
          &:last-child {
            border-radius: 0.25em 0.25em 0 0;
          }
        }
      }
    }
  }

  &:hover {
    background: #f7f7f7;
  }

  &:last-child {
    border-radius: 0 0 6px 6px;
  }
}
