.auth-card {
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: white;
  // margin: -6.875rem auto 0;
  max-width: 26.5rem;
  // padding: 2rem 4rem;
  width: 100%;

  > form {
    .each-slide {
      padding: 2rem 4rem;
      > h1 {
        color: rgba(0, 0, 0, 0.8);
        font-weight: 400;
        letter-spacing: 0.0125rem;
        overflow-wrap: break-word;
        font-size: 1.5rem;
      }

      > * {
        margin: 10px 0;
      }

      > .auth-input {
        margin: 50px 0;
      }
    }
  }

  @media (max-width: 424px) {
    height: 100%;

    > form {
      .each-slide {
        padding: 2rem 1.5rem;
      }
    }
  }
}
