.auth-card {
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  background-color: white;
  max-width: 26.5rem;
  width: 100%;

  > form .each-slide,
  > .auth-signup {
    > h1 {
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      letter-spacing: 0.0125rem;
      overflow-wrap: break-word;
      font-size: 1.5rem;
    }
  }

  > form {
    > .loading {
      display: flex;
      justify-content: center;
      padding: 2rem 4rem;
    }
    .each-slide {
      padding: 2rem 4rem;
      outline: none;

      > * {
        margin: 10px 0;
      }

      > .auth-input {
        margin: 50px 0;
      }
    }
  }

  > .auth-signup {
    padding: 2rem 4rem;
    display: grid;
    row-gap: 30px;

    > div:last-child {
      > button {
        margin-bottom: 10px;
      }
    }
  }

  @media (max-width: 424px) {
    height: 100%;

    > form {
      .each-slide {
        padding: 2rem 1.5rem;
      }
    }
  }
}
