.app-balance {
  > .app-balance__info {
    padding: 16px;
    > div {
      color: rgba(0, 0, 0, 0.6);
      font-size: 14px;
      margin-bottom: 12px;
    }
    > span {
      font-size: 24px;
      font-weight: 500;
    }
  }

  > .app-balance__info-empty {
    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
    }
  }

  > .app-balance__actions {
    display: flex;
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    > button {
      width: 100%;
      background-color: rgba(65, 137, 230, 0.15);
      color: #009ee3;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 14px;
      line-height: 32px;
      padding: 0 12px;
      height: 32px;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        background-color: rgba(65, 137, 230, 0.2);
      }
    }

    > button + button {
      margin-left: 5px;
    }
  }
}
