.auth-input {
  line-height: 1.35;
  position: relative;
  transition: 0.3s;


  > span {
    font-size: 1em;
    line-height: 1;
    color: rgba(0, 0, 0, 0.45);
    position: absolute;
    bottom: 7px;
    transform-origin: left 50% 0;
    transition: 0.3s;
    z-index: 0;
  }

  > input {
    position: relative;
    z-index: 1;
    font-size: 18px;
    height: 24px;
    width: 100%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    line-height: normal;
    background: transparent;
    border: 0;
    margin: 8px 0 5px;
    outline: none;
    padding: 0;
    transition: 0.3s;

    &:hover,
    &:focus {
      border-color: black;
    }
  }

  > .error {
    position: absolute;
    font-size: 14px;
    color: #f04449;
    font-weight: 600;
    bottom: -25px;
    opacity: 0;
    transition: 0.3s;
    cursor: default;
  }

  > .show {
    opacity: 1;
  }

  > .auth-input__border {
    height: 1px;
    width: 100%;
    transition: 0.3s;
    background-color: rgb(191, 191, 191);
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
      background-color: rgb(105, 105, 105);
      width: 0%;
      height: 2px;
      transition: 0.3s;
    }
  }

  &:hover {
    > .auth-input__border {
      > div {
        width: 100%;
      }
    }
  }
}

.auth-input__writed {
  > span {
    bottom: 25px;
    transform: scale(0.77778) translateY(-20%);
  }
}

.auth-input__focus,
.auth-input__writed {
  > .auth-input__border {
    > div {
      width: 100%;
      background-color: rgba(var(--primary-rgb), 1);
    }
  }
}
